<form [formGroup]="expenseForm">
    <div class="container">
        <div class="row">
            <label class="input-group input-group-lg">
                <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
            </label>
        </div>
        
        <div class="row">
            <select class="form-select" formControlName="category">
                <option value="">Select a category</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.CategoryName}}</option>
            </select>
        </div>
    </div>
</form>